# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
spring-boot-kafka/.mvn/
spring-boot-2.x-examples.iml
spring-boot-webflux-websocket/.mvn/
spring-boot-rabbitmq/.mvn/
spring-boot-swagger/.mvn/
spring-boot-webflux-api/.mvn/
spring-boot-webflux-annotation-api/.mvn/
spring-boot-dubbo-zookeeper/spring-boot-dubbo-zookeeper-provider/.mvn/
spring-boot-dubbo-zookeeper/spring-boot-dubbo-zookeeper-base-interface/.mvn/
spring-boot-dubbo-zookeeper/spring-boot-dubbo-zookeeper-consumer/.mvn/
spring-boot-dubbo-zookeeper/spring-boot-dubbo-zookeeper.iml
spring-boot-thymeleaf/.mvn/
spring-boot-freemarker/.mvn/
spring-boot-exception/.mvn/
spring-boot-banner/.mvn/
spring-boot-solr/.mvn/
spring-boot-mongodb/.mvn/
spring-boot-mybatis/.mvn/
spring-boot-mybatis-druid/.mvn/
spring-boot-security/.mvn/
spring-boot-jpa/.mvn/
spring-boot-email/.mvn/
spring-boot-aop-log/.mvn/
spring-boot-brantch/.mvn/
spring-boot-log/.mvn/
spring-boot-redis/.mvn/
spring-boot-dubbo-zookeeper-hystrix/.mvn/
spring-boot-redis-pub-sub/.mvn/
spring-boot-redis-geo/.mvn/
spring-boot-dubbo-zookeeper-hystrix-annotation/.mvn/
spring-boot-websocket/.mvn/
spring-boot-session-token/.mvn/
spring-boot-memcached/.mvn/
spring-boot-war/.mvn/
spring-boot-scheduled/.mvn/
spring-boot-echarts/.mvn/
spring-boot-webmagic/.mvn/
spring-boot-quartz/.mvn/
spring-boot-quartz/mvnw.cmd
spring-boot-quartz/mvnw
spring-boot-mybatis-plus/.mvn/
spring-boot-mybatis-plus/mvnw.cmd
spring-boot-mybatis-plus/mvnw
spring-boot-current-mapper/.mvn/
spring-boot-sql-interceptor/.mvn/
spring-boot-sql-interceptor/mvnw.cmd
spring-boot-sql-interceptor/mvnw
spring-boot-redisson-lock/.mvn/
spring-boot-redisson-lock/mvnw.cmd
spring-boot-redisson-lock/mvnw
spring-boot-mybatis-mutiple-datasource/.mvn/
spring-boot-mybatis-mutiple-datasource/mvnw.cmd
spring-boot-mybatis-mutiple-datasource/mvnw
spring-boot-pagehelper/mvnw.cmd
spring-boot-pagehelper/mvnw
spring-boot-pagehelper/.mvn/
spring-boot-elastic-job/.mvn/
spring-boot-elastic-job/mvnw.cmd
spring-boot-elastic-job/mvnw
spring-boot-elasticsearch/spring-boot-elasticsearch.iml
spring-boot-docker-fsatdfs/spring-boot-docker-fsatdfs.iml
spring-boot-system/.mvn/
spring-boot-system/mvnw.cmd
spring-boot-system/mvnw
spring-boot-anima/mvnw.cmd
spring-boot-anima/mvnw
spring-boot-anima/.mvn/
spring-boot-jetty/mvnw.cmd
spring-boot-jetty/mvnw
spring-boot-jetty/.gitignore
spring-boot-jetty/.mvn/
spring-boot-tomcat-jsp/mvnw.cmd
spring-boot-tomcat-jsp/mvnw
spring-boot-tomcat-jsp/.mvn/
spring-boot-jetty-jsp/mvnw.cmd
spring-boot-jetty-jsp/mvnw
spring-boot-jetty-jsp/.mvn/
spring-boot-activemq/mvnw.cmd
spring-boot-activemq/mvnw
spring-boot-activemq/.mvn/
spring-boot-xml/mvnw.cmd
spring-boot-xml/mvnw
spring-boot-xml/.mvn/
spring-boot-go-fastdfs/mvnw.cmd
spring-boot-go-fastdfs/mvnw
spring-boot-go-fastdfs/.mvn/
spring-boot-webflux/.mvn/
spring-boot-webflux/mvnw.cmd
spring-boot-webflux/mvnw
spring-boot-emoji/.mvn/
spring-boot-beetl/.mvn/
spring-boot-ehcach/.mvn/
spring-boot-beatlsql/.mvn/
spring-boot-https/.mvn/
spring-boot-https/mvnw.cmd
spring-boot-https/mvnw
spring-boot-excel/.mvn/
spring-boot-auto-code/.mvn/
spring-boot-async/.mvn/
spring-boot-sm/.mvn/
spring-boot-gitee-login/mvnw.cmd
spring-boot-gitee-login/mvnw
spring-boot-gitee-login/.mvn/
spring-boot-github-login/.mvn/
spring-boot-github-login/mvnw.cmd
spring-boot-github-login/mvnw
spring-boot-github-login/.gitignore
spring-boot-dingtalk-login/.mvn/
spring-boot-dingtalk-login/mvnw.cmd
spring-boot-dingtalk-login/mvnw
spring-boot-dingtalk-login/.gitignore
spring-boot-weibo-login/mvnw.cmd
spring-boot-weibo-login/mvnw
spring-boot-weibo-login/.mvn/
spring-boot-tencentcloud/.mvn/
spring-boot-tencentcloud/mvnw.cmd
spring-boot-tencentcloud/mvnw
spring-boot-csdn-login/.mvn/
spring-boot-csdn-login/mvnw
spring-boot-csdn-login/.gitignore
spring-boot-csdn-login/mvnw.cmd
spring-boot-oschina-login/.mvn/
spring-boot-oschina-login/mvnw.cmd
spring-boot-oschina-login/mvnw
spring-boot-oschina-login/.gitignore
spring-boot-auto-code-ui/.mvn/
spring-boot-auto-code-ui/mvnw.cmd
spring-boot-auto-code-ui/mvnw
spring-boot-auto-code-ui/.gitignore
spring-boot-alipay-login/.mvn/
spring-boot-alipay-login/mvnw.cmd
spring-boot-alipay-login/mvnw
spring-boot-alipay-login/.gitignore
spring-boot-current-limiting/mvnw.cmd
spring-boot-current-limiting/mvnw
spring-boot-current-limiting/.gitignore
spring-boot-current-limiting/.mvn/
spring-boot-aop-annotation-log/mvnw.cmd
spring-boot-aop-annotation-log/mvnw
spring-boot-aop-annotation-log/.gitignore
spring-boot-aop-annotation-log/.mvn/
spring-boot-current-limiting/spring-boot-current-limiting.iml
spring-boot-sharding-sphere/mvnw
spring-boot-sharding-sphere/.gitignore
spring-boot-sharding-sphere/mvnw.cmd
spring-boot-sharding-sphere/.mvn/
spring-boot-session-redis/mvnw.cmd
spring-boot-session-redis/mvnw
spring-boot-session-redis/.gitignore
spring-boot-session-redis/.mvn/
spring-boot-parquet/.mvn/wrapper/maven-wrapper.properties
spring-boot-parquet/.mvn/wrapper/maven-wrapper.jar
spring-boot-parquet/.mvn/wrapper/MavenWrapperDownloader.java
spring-boot-parquet/.gitignore
spring-boot-storm/.mvn/
spring-boot-strategy/.gitignore
spring-boot-strategy/mvnw
spring-boot-strategy/mvnw.cmd
spring-boot-strategy/.mvn/
spring-boot-hbase/.gitignore
spring-boot-hbase/mvnw
spring-boot-hbase/mvnw.cmd
spring-boot-hbase/.mvn/
spring-boot-smart-socket/.gitignore
spring-boot-smart-socket/mvnw
spring-boot-smart-socket/mvnw.cmd
spring-boot-smart-socket/.mvn/
spring-boot-psql/.mvn/
spring-boot-psql/.gitignore
spring-boot-psql/mvnw
spring-boot-psql/mvnw.cmd
spring-boot-presto/.gitignore
spring-boot-presto/mvnw
spring-boot-presto/mvnw.cmd
spring-boot-presto/.mvn/
spring-boot-version/.mvn/
spring-boot-version/.gitignore
spring-boot-version/mvnw
spring-boot-version/mvnw.cmd
spring-boot-redshift/.gitignore
spring-boot-redshift/mvnw
spring-boot-redshift/mvnw.cmd
spring-boot-redshift/.mvn/
spring-boot-lianjia/.mvn/
spring-boot-lianjia/.gitignore
spring-boot-lianjia/mvnw
spring-boot-lianjia/mvnw.cmd
spring-boot-douban/.gitignore
spring-boot-douban/mvnw
spring-boot-douban/mvnw.cmd
spring-boot-douban/.mvn/
spring-boot-nacos-config/.gitignore
spring-boot-nacos-config/mvnw
spring-boot-nacos-config/mvnw.cmd
spring-boot-nacos-config/.mvn/
spring-boot-consul/.gitignore
spring-boot-consul/mvnw
spring-boot-consul/mvnw.cmd
spring-boot-consul/.mvn/
spring-boot-apollo/.gitignore
spring-boot-apollo/mvnw
spring-boot-apollo/mvnw.cmd
spring-boot-apollo/.mvn/
spring-boot-xxl-conf/.gitignore
spring-boot-xxl-conf/mvnw
spring-boot-xxl-conf/mvnw.cmd
spring-boot-xxl-conf/.mvn/
spring-boot-figure/.gitignore
spring-boot-figure/mvnw
spring-boot-figure/mvnw.cmd
spring-boot-figure/.mvn/
spring-boot-monitor/.gitignore
spring-boot-monitor/mvnw
spring-boot-monitor/mvnw.cmd
spring-boot-monitor/.mvn/
spring-boot-jib/.gitignore
spring-boot-jib/mvnw
spring-boot-jib/mvnw.cmd
*.iml
spring-boot-docker-minio/mvnw
spring-boot-docker-minio/mvnw.cmd
spring-boot-docker-minio/.mvn/
spring-boot-mqtt/.mvn/
spring-boot-mqtt/.gitignore
spring-boot-mqtt/mvnw
spring-boot-mqtt/mvnw.cmd
spring-boot-ali-loghub/.gitignore
spring-boot-ali-loghub/mvnw
spring-boot-ali-loghub/mvnw.cmd
spring-boot-ali-loghub/.mvn/
spring-boot-mybatis-hikari/.mvn/
